body {
	color: #4d4d4d;
	background-color: #f5f5f5;
	color: #4d4d4d;
}
.all {
	width: 100%;
	text-align: center;
}
.main {
	max-width: 500px;
	width: 85%;
	margin: 2rem auto;
	padding: 1rem;
	text-align: center;
	border: #fff solid 1px;
	box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.2), 0 2.5rem 5rem 0 rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 600px) {
	.main {
		width: 70%;
	}
}
label {
	font-size: 1.5rem;
	font-weight: bold;
	display: block;
	padding-bottom: 1rem;
}
.lg-text-input {
	width: 100%;
	padding: 1rem;
	border: 2px solid #000;
	display: block;
	box-sizing: border-box;
	font-size: 1rem;
}
.btn-wrapper {
	margin-bottom: 2rem;
}
.btn-menu {
	flex-basis: 32%;
}
.active {
	color: green;
}
ul {
	padding-inline-start: 0;
}
ul li {
	list-style: none;
	margin: 10px 0;
}
.inputs {
	margin-top: 5vh;
}
